.no-search-results {
  font-weight: bold;
  text-align: center;
}

.no-search-results .search {
  margin-top: 40px;
}

.no-search-results .search input,
.no-search-results .search button,
.no-search-results .search button svg
{
  background-color: #353535;
}
