@font-face {
  font-family: 'Bitwise';
  src: url(../assets/fonts/bitwise.ttf);
}

@font-face {
  font-family: 'Courier New';
  src: url(../assets/fonts/cour.ttf);
}

@font-face {
  font-family: 'Courier New';
  font-weight: bold;
  src: url(../assets/fonts/courbd.ttf);
}

@font-face {
  font-family: 'Courier New';
  font-style: italic;
  src: url(../assets/fonts/couri.ttf);
}

body {
  background-color: #535353;
  color: #16fc26;
  font-family: 'Courier New';
}

.no-search-results {
  font-weight: bold;
  text-align: center;
}

.no-search-results .search {
  margin-top: 40px;
}

.no-search-results .search input,
.no-search-results .search button,
.no-search-results .search button svg
{
  background-color: #353535;
}
