.full-size-gif {
  background-color: rgba(30, 30, 30, 0.95);
  display: grid;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.full-size-gif img {
  margin: auto;
}

.close-full-size {
  background: none;
  border: none;
  color: pink;
  font-size: 4rem;
  margin-left: 90%;
  margin-top: 2%;
  position: absolute;
}

.close-full-size:hover {
  color: red;
  cursor: pointer;
}
