.search {
  font-family: 'Courier New';
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 12px;
  margin-top: 12px;
}

.search input, .search button {
  background-color: #535353;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

.search input[type="text"] {
  height: 30px;
  margin-right: 12px;
  padding-left: 12px;
  padding-right: 8px;
  vertical-align: top;
  width: 60%;
}

.search button {
  background-color: #535353;
  height: 36px;
}
