.search {
  font-family: 'Courier New';
  font-weight: bold;
  font-size: 18px;
  height: 36px;
}

.search input, .search button {
  background-color: #535353;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

.search input {
  border: 2px inset #c9c9c9;
  border-radius: 0;
  box-sizing: border-box;
  height: 100%;
  margin-right: 12px;
  padding-left: 12px;
  vertical-align: top;
  width: 60%;
}

.search button {
  background-color: #535353;
  border: 2px outset #c9c9c9;
  height: 100%;
}
